body {
    background: #813f1e; 
    margin: 0;
    padding: 0;
}

.canvas-center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

#myCanvas {
    background: url('/src/images/planet.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 450px 520px;
    z-index: 1;
}

.removed {
    display: none;
}

.play-button-container,
.play-again-button-container {
    background: black;
    width: 450px;
    height: 520px;
    z-index: 2;
    margin: auto;
    position: fixed;
}