body {
    background: #3f5f37; 
    margin: 0;
    padding: 0;
    font-family: 'Chelsea Market', cursive;
}

.canvas-center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

h2 {
    font-family: 'Chelsea Market', cursive;
    color: #bf6e23;
    font-size: 80px;
    text-align: center;
    letter-spacing: 5px;
    text-shadow: 3px 3px 5px #121212;

}

#myCanvas {
    background: url('/src/images/planet.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 450px 520px;
    z-index: 1;
}

.removed {
    display: none;
}

.play-button-container,
.play-again-button-container {
    background: #20331c;
    width: 450px;
    height: 520px;
    z-index: 2;
    margin: auto;
    position: fixed;
}

.button-container {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

#play,
#play-again {
    background: #cb7527;
    padding: 10px 25px;
    border-radius: 3px;
    font-size: 18px;
    font-family: 'Chelsea Market', cursive;
    color: #1c1d1c;
    border: 3px solid #ec8e38;
    letter-spacing: 2px;
    cursor: pointer;
    outline: none;
}

#play:hover,
#play-again:hover {
      background: #ec8e38;
      border: 3px solid #eba96e;
      transition: .2s;
}